*{
    padding: 0;
    margin: 0;
}

.navb{
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    position: sticky !important;
    top: 0;
}

.com{
    margin: 0 !important;
    padding: 0;
}

.sign{
    background-color: rgb(21, 21, 131);
}

.now{
    background-color:rgba(158, 152, 152, 0.487);
    border-radius: 2px;
    border: none;
}

.box{
    box-shadow: 1px solid grey;
}